body {
  background-color: #190482;
  color: #C2D9FF;
  font-family: "Concert One", sans-serif;
  background: linear-gradient(to right,#190482,#7752FE);
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
  text-align: center;
  margin-block: 20px;
}

.cajitas-niveles { /* Cambiar a grid*/
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid #7752FE;
  background-color: #8E8FFA;
  padding: 20px;
  margin-inline: 20px;
  border-radius: 20px;
}

.boton-cajitas { 
  font-family: inherit;
  font-size: 30px;
  padding: 20px;
  border: 3px solid #190482;
  background-color: #7752FE;
  color: inherit;
  border-radius: 20px;
  box-shadow: 0 3px 0;
  cursor: pointer;
}